@-ms-viewport {
	width:device-width;
}

body, html {
	background: #607D8B;
	font-size: 1em;
	margin: 0;
	overflow: hidden;
	-ms-content-zooming: none;
	padding: 0;
}

#game {
	background: #fff;
	bottom: 1rem;
	left: 1rem;
	padding: .5rem;
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.header {
	height: 1rem;
	position: relative;
	z-index: 1;
}

.guitar {
	border-bottom: .5rem solid #607D8B;
	height: 24rem;
	margin-bottom: 1rem;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

.tone {
	background: lightgray;
	border-radius: 2rem;
	height: 2rem;
	margin-left: 1rem;
	position: absolute;
	transition: top unset linear 0s;
	width: 2rem;
}

.guitar .tone {
	border: 1rem double #fff;
	margin-left: 0;
	top: -2rem;
}

.tone.black {
	background: black;
}
.tone.red {
	background: red;
}
.tone.yellow {
	background: #f6e234;
}
.tone.invisible {
	display: none;
}
.tone.n0 {
	left: 0;
}
.tone.n1 {
	left: 3rem;
}
.tone.n2 {
	left: 6rem;
}
.tone.n3 {
	left: 9rem;
}
.tone.n4 {
	left: 12rem;
}
.tone.n5 {
	left: 15rem;
}
.tone.n6 {
	left: 18rem;
}
.tone.n7 {
	left: 21rem;
}
.tone.n8 {
	left: 24rem;
}
.tone.n9 {
	left: 27rem;
}
.tone.n10 {
	left: 30rem;
}
.tone.n11 {
	left: 33rem;
}
.tone.n12 {
	left: 36rem;
}
.tone.n13 {
	left: 39rem;
}
.tone.n14 {
	left: 42rem;
}
.tone.n15 {
	left: 45rem;
}
.tone.n16 {
	left: 48rem;
}
.tone.d16 {
	height: 1rem;
	top: -1rem;
}
.tone.d8 {
	height: 2rem;
	top: -2rem;
}
.tone.d4 {
	height: 4rem;
	top: -4rem;
}
.tone.d2 {
	height: 8rem;
	top: -8rem;
}
.tone.d1 {
	height: 16rem;
	top: -16rem;
}
.tone.falldown.d16 {
	top: 39rem;
}
.tone.falldown.d8 {
	top: 38rem;
}
.tone.falldown.d4 {
	top: 36rem;
}
.tone.falldown.d2 {
	top: 32rem;
}
.tone.falldown.d1 {
	top: 24rem;
}
